.koko_header_logo{
margin-top: 2rem; font-family: 'Bebas Neue', cursive;
font-family: 'Playfair Display', serif;
font-family: 'PT Sans Narrow', sans-serif;
}

.koko_header_botton{
    margin-bottom: 1.5rem;
}

.koko_footer_botton{
    margin-top: 1.5rem;
}

.koko_footer_logo{
    margin-top: 1rem; font-family: 'Bebas Neue', cursive;
        font-family: 'Playfair Display', serif;
        font-family: 'PT Sans Narrow', sans-serif;
}

.mw-500{
    max-width: 500px;
    padding: 1rem 1.5rem;
}

.profile_image {
    height: 12rem;
    width: 12rem;
    border-radius: 20rem;
    object-fit: cover;
}

.NNB_S {
    font-family: NanumSquareB, cursive;
}

.round_button {
    color: green;
    text-decoration: none;
    box-shadow: 3px 3px 3px dimgray;
    border-radius: 1rem;
    padding: 0.3rem;
}

.round_button:hover {
    color: dimgray;
}

.artice_image {
    border-radius: 2rem;
    width: 65%;
    box-shadow: 0 0 1rem grey;
}

.article_content {
    font-size: 1.1rem;
    text-align: left;
}